* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-size: 14px;
    font-weight: 700;
}

header {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header__logo {
    cursor: pointer;
}

.header__box {
    display: flex;
    padding: 15px 0;
    margin-left: 54px;
    margin-right: 60px;
    width: 100%;
}

.box__menu {
    padding: 0 15px;
    display: flex;
    align-items: center;
    border: 1px solid #dfdfdf;
    border-right: none;
    position: relative;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.menu__dropdown {
    display: none;
    position: absolute;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #dddddd;
    /* z-index: 1; */
    top: 100%;
    left: 0px;
    padding: 8px;
    background: #ffffff;
    margin-top: 14px;
    margin-left: -1px;
    transition: all 0.2s ease 0.16s;
}

/* .menu__dropdown a, */
.dropdown__skin,
.skin-content__item {
    min-width: 254px;
    /* text-decoration: none; */
    /* color: #555555; */
    display: block;
    padding: 12px 0 12px 8px;
    transition: background-color 0.3s ease;
    list-style: none;
    /* border-bottom: 2px solid #f3f3f3; */
}

.dropdown__skin a {
    text-decoration: none;
    color: #555555;
    line-height: 16px;
    font-weight: normal;
}

hr {
    background: #f3f3f3;
    padding: 1px;
}

.box__menu:hover > .menu__dropdown {
    display: block;
}

.box__menu:hover {
    background-color: #f5f5f5;
}

.menu__dropdown > .dropdown__skin:hover {
    background: #f5f5f5;
}

.menu__dropdown::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    padding: 12px 0;
    transform: translateY(-100%);
    background-color: transparent;
}

/* .menu__dropdown > a:nth-child(5),
.skin__content a:nth-child(4) {
    border-bottom: none;
} */

.dropdown__skin {
    position: relative;
}

.dropdown__skin span {
    color: #a4a4a4;
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 0px;
    background: none;
}

.skin__content {
    display: none;
    position: absolute;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #dddddd;
    /* z-index: 1; */
    top: 0;
    left: 100%;
    padding: 8px;
    background: #ffffff;
    margin-left: 16px;
    transition: all 0.2s ease 0.1s;
}

.skin__content::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 16px;
    transform: translateX(-100%);
    background-color: transparent;
}

.skin__content li:hover {
    background: #f5f5f5;
}

.dropdown__skin:hover > .skin__content {
    display: block;
}

.box__menu p {
    color: #555555;
}

.box__menu > span {
    color: #555555;
    font-size: 16px;
}

.box__search {
    display: flex;
    flex: 1;
    position: relative;
    background-color: #f5f5f5;
}

.box__search input {
    width: 100%;
    outline: none;
    background-color: #f5f5f5;
    line-height: 16px;
    padding: 12px 12px 12px 12px;
    border: 1px solid #dfdfdf;
}

.box__search input:hover {
    border-color: #555555;
}

.box__search input:focus {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.box__search input::placeholder {
    color: #a4a4a4;
}

.box__search span {
    position: absolute;
    color: #a4a4a4;
    top: 10px;
    right: 3px;
    font-size: 22px;
    cursor: pointer;
}

.content__info {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.info__cart {
    display: flex;
    align-items: center;
}

.info__cart::after {
    content: " ";
    display: block;
    background-color: #dfdfdf;
    padding: 16px 1px;
    margin: 0 20px;
}

.info-cart__inner {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 9px 17px;
    border-radius: 4px;
    background: transparent;
    transition: background-color 0.3s ease;
}

.info-cart__inner:hover {
    background: #f5f5f5;
}

.info__cart span {
    color: #a4a4a4;
    font-size: 24px;
}

.info__cart p {
    color: #555555;
    margin-left: 7px;
}

.info__person {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 9px 17px;
    border-radius: 4px;
    background: transparent;
    transition: background-color 0.3s ease;
}

.info__person:hover {
    background: #f5f5f5;
}

.info__person span:nth-child(1) {
    color: #a4a4a4;
    font-size: 26px;
    margin-right: 6px;
}

.info__person p {
    color: #555555;
    white-space: nowrap;
}

.info__person span:nth-child(3) {
    color: #555555;
    font-size: 16px;
}
